In [1]:
%load_ext sql
import os

In [2]:
host = "localhost"
database = "olist"
user = "postgres"
password = "1937"
connection_string = f"postgresql://{user}:{password}@{host}/{database}"
%sql $connection_string

### **Frequency of orders delivered every month**

In [3]:
%%sql
SELECT date_part('year', order_delivered_customer)::int AS "year",
       date_part('month', order_delivered_customer)::int AS "month",
       COUNT(*) AS "orders_delivered"
FROM orders
WHERE order_status = 'delivered'
GROUP BY year, month
ORDER BY year, month

 * postgresql://postgres:***@localhost/olist
26 rows affected.

[(2016, 10, 205),
 (2016, 11, 58),
 (2016, 12, 4),
 (2017, 1, 283),
 (2017, 2, 1351),
 (2017, 3, 2382),
 (2017, 4, 1849),
 (2017, 5, 3751),
 (2017, 6, 3223),
 (2017, 7, 3455),
 (2017, 8, 4302),
 (2017, 9, 3965),
 (2017, 10, 4494),
 (2017, 11, 4670),
 (2017, 12, 7205),
 (2018, 1, 6597),
 (2018, 2, 5850),
 (2018, 3, 6824),
 (2018, 4, 7850),
 (2018, 5, 7111),
 (2018, 6, 6829),
 (2018, 7, 5839),
 (2018, 8, 8314),
 (2018, 9, 56),
 (2018, 10, 3),
 (None, None, 8)]

### **Top 5 cities with most number of orders**

In [4]:
%%sql
SELECT cu.customer_state,
       cu.customer_city,
       COUNT(oi.order_id)
FROM orders AS oi
JOIN customers AS cu ON oi.customer_id = cu.customer_id
GROUP BY cu.customer_city, cu.customer_state
ORDER BY count DESC
LIMIT 5

 * postgresql://postgres:***@localhost/olist
5 rows affected.

[('SP', 'sao paulo', 15540),
 ('RJ', 'rio de janeiro', 6882),
 ('MG', 'belo horizonte', 2773),
 ('DF', 'brasilia', 2131),
 ('PR', 'curitiba', 1521)]

### **Deliveries by hour**

In [11]:
%%sql
SELECT date_part('hour', order_delivered_customer)::int AS "hour",
       COUNT(*) AS "orders_delivered"
FROM orders
WHERE order_status = 'delivered'
GROUP BY hour

 * postgresql://postgres:***@localhost/olist
25 rows affected.

[(None, 8),
 (22, 6142),
 (17, 8775),
 (23, 4438),
 (19, 9484),
 (2, 649),
 (5, 198),
 (9, 1196),
 (12, 3651),
 (4, 187),
 (0, 2885),
 (6, 269),
 (20, 9157),
 (14, 5644),
 (21, 7627),
 (18, 9639),
 (7, 396),
 (1, 1515),
 (11, 2579),
 (8, 779),
 (13, 4561),
 (15, 6740),
 (16, 7901),
 (10, 1798),
 (3, 260)]

### **Average difference between estimated and actual delivery by month**

In [6]:
%%sql
SELECT month,
       AVG(deviation_from_estimated)::real AS difference
FROM(SELECT EXTRACT(MONTH FROM order_purchase)::int AS month,
       EXTRACT('days' FROM order_estimated_delivery - order_delivered_customer)::int AS deviation_from_estimated
FROM orders
WHERE order_status = 'delivered') AS diff
GROUP BY month

 * postgresql://postgres:***@localhost/olist
12 rows affected.

[(5, 11.7074995),
 (6, 16.024807),
 (9, 10.389063),
 (7, 10.879737),
 (10, 12.356947),
 (12, 12.093943),
 (4, 11.974069),
 (2, 9.620979),
 (1, 13.38496),
 (11, 7.2666025),
 (3, 7.1721644),
 (8, 9.200588)]

### **Average difference between order and delivery time by state**

In [7]:
%%sql
SELECT delivery_time.customer_state,
       AVG(delivery_time.delivery_in_days)::real AS avg_delivery_time_days
FROM(SELECT cu.customer_state,
       EXTRACT('days' FROM od.order_delivered_customer - od.order_purchase)::int AS delivery_in_days
     FROM ORDERS AS od
     JOIN customers AS cu ON od.customer_id = cu.customer_id
     WHERE order_status = 'delivered') AS delivery_time
GROUP BY customer_state
ORDER BY avg_delivery_time_days DESC

 * postgresql://postgres:***@localhost/olist
27 rows affected.

[('RR', 28.975609),
 ('AP', 26.731344),
 ('AM', 25.986206),
 ('AL', 24.040302),
 ('PA', 23.316067),
 ('MA', 21.117155),
 ('SE', 21.02985),
 ('CE', 20.817827),
 ('AC', 20.6375),
 ('PB', 19.953579),
 ('PI', 18.993698),
 ('RO', 18.91358),
 ('BA', 18.8664),
 ('RN', 18.824894),
 ('PE', 17.965473),
 ('MT', 17.59368),
 ('TO', 17.226278),
 ('ES', 15.33183),
 ('MS', 15.191155),
 ('GO', 15.150741),
 ('RJ', 14.848583),
 ('RS', 14.819237),
 ('SC', 14.4751835),
 ('DF', 12.509134),
 ('MG', 11.542188),
 ('PR', 11.526711),
 ('SP', 8.298094)]

### **Product Translation**

In [8]:
%%sql
WITH prod_cat AS(SELECT DISTINCT(product_category)
                 FROM products)
SELECT product_category, category_translation
FROM prod_cat AS pc
LEFT JOIN product_translation AS pt
ON pc.product_category = pt.category

 * postgresql://postgres:***@localhost/olist
74 rows affected.

[('beleza_saude', 'health_beauty'),
 ('informatica_acessorios', 'computers_accessories'),
 ('automotivo', 'auto'),
 ('cama_mesa_banho', 'bed_bath_table'),
 ('moveis_decoracao', 'furniture_decor'),
 ('esporte_lazer', 'sports_leisure'),
 ('perfumaria', 'perfumery'),
 ('utilidades_domesticas', 'housewares'),
 ('telefonia', 'telephony'),
 ('relogios_presentes', 'watches_gifts'),
 ('alimentos_bebidas', 'food_drink'),
 ('bebes', 'baby'),
 ('papelaria', 'stationery'),
 ('tablets_impressao_imagem', 'tablets_printing_image'),
 ('brinquedos', 'toys'),
 ('telefonia_fixa', 'fixed_telephony'),
 ('ferramentas_jardim', 'garden_tools'),
 ('fashion_bolsas_e_acessorios', 'fashion_bags_accessories'),
 ('eletroportateis', 'small_appliances'),
 ('consoles_games', 'consoles_games'),
 ('audio', 'audio'),
 ('fashion_calcados', 'fashion_shoes'),
 ('cool_stuff', 'cool_stuff'),
 ('malas_acessorios', 'luggage_accessories'),
 ('climatizacao', 'air_conditioning'),
 ('construcao_ferramentas_construcao', 'construction_tools_construction'),
 ('moveis_cozinha_area_de_servico_jantar_e_jardim', 'kitchen_dining_laundry_garden_furniture'),
 ('construcao_ferramentas_jardim', 'costruction_tools_garden'),
 ('fashion_roupa_masculina', 'fashion_male_clothing'),
 ('pet_shop', 'pet_shop'),
 ('moveis_escritorio', 'office_furniture'),
 ('market_place', 'market_place'),
 ('eletronicos', 'electronics'),
 ('eletrodomesticos', 'home_appliances'),
 ('artigos_de_festas', 'party_supplies'),
 ('casa_conforto', 'home_confort'),
 ('construcao_ferramentas_ferramentas', 'costruction_tools_tools'),
 ('agro_industria_e_comercio', 'agro_industry_and_commerce'),
 ('moveis_colchao_e_estofado', 'furniture_mattress_and_upholstery'),
 ('livros_tecnicos', 'books_technical'),
 ('casa_construcao', 'home_construction'),
 ('instrumentos_musicais', 'musical_instruments'),
 ('moveis_sala', 'furniture_living_room'),
 ('construcao_ferramentas_iluminacao', 'construction_tools_lights'),
 ('industria_comercio_e_negocios', 'industry_commerce_and_business'),
 ('alimentos', 'food'),
 ('artes', 'art'),
 ('moveis_quarto', 'furniture_bedroom'),
 ('livros_interesse_geral', 'books_general_interest'),
 ('construcao_ferramentas_seguranca', 'construction_tools_safety'),
 ('fashion_underwear_e_moda_praia', 'fashion_underwear_beach'),
 ('fashion_esporte', 'fashion_sport'),
 ('sinalizacao_e_seguranca', 'signaling_and_security'),
 ('pcs', 'computers'),
 ('artigos_de_natal', 'christmas_supplies'),
 ('fashion_roupa_feminina', 'fashio_female_clothing'),
 ('eletrodomesticos_2', 'home_appliances_2'),
 ('livros_importados', 'books_imported'),
 ('bebidas', 'drinks'),
 ('cine_foto', 'cine_photo'),
 ('la_cuisine', 'la_cuisine'),
 ('musica', 'music'),
 ('casa_conforto_2', 'home_comfort_2'),
 ('portateis_casa_forno_e_cafe', 'small_appliances_home_oven_and_coffee'),
 ('cds_dvds_musicais', 'cds_dvds_musicals'),
 ('dvds_blu_ray', 'dvds_blu_ray'),
 ('flores', 'flowers'),
 ('artes_e_artesanato', 'arts_and_craftmanship'),
 ('fraldas_higiene', 'diapers_and_hygiene'),
 ('fashion_roupa_infanto_juvenil', 'fashion_childrens_clothes'),
 ('seguros_e_servicos', 'security_and_services'),
 (None, None),
 ('pc_gamer', None),
 ('portateis_cozinha_e_preparadores_de_alimentos', None)]